@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700;900&display=swap");
*,
*::before,
*::after {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
}
body {
  font-family: "Rubik", sans-serif;
  margin: 0;
  padding: 0;
  background-color: darkslateblue;
}
nav > a {
  margin: 0 20px;
  font-size: x-large;
}
a:link,
a:visited {
  text-decoration: none;
  color: white;
}
#navbar {
  background-color: darkslateblue;
  position: fixed;
  top: 0;
  height: 70px;
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10px;
}
main {
  margin-top: 70px;
}
#welcome-section {
  height: calc(100vh - 70px);
  height: -o-calc(100vh - 70px);
  height: -webkit-calc(100vh - 70px);
  height: -moz-calc(100vh - 70px);
  background-color: dimgray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#welcome-section > h1 {
  color: white;
  font-size: 5rem;
}
#welcome-section > h4 {
  color: darkslateblue;
  font-size: 1.5rem;
  font-weight: 400;
}
.projects-section {
  text-align: center;
  padding: 10rem 2rem;
  background: darkslateblue;
}
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  row-gap: 4rem;
  column-gap: 4rem;
}
.project-image {
  width: 100%;
  height: calc(100% - 4.8rem);
  object-fit: cover;
}
.project-title {
  font-size: 1.3rem;
  padding: 0.2rem 0.5rem;
}
.project {
  background-color: black;
  color: white;
}
.code {
  color: black;
  transition: color 0.3s ease-out;
}
.project:hover .code {
  color: orangered;
}
.contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1rem 2rem;
  background: rgb(58, 69, 71);
  color: white;
}
.contact-title {
  font-size: 3rem;
}
.contact-links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 10rem;
}
/* RESPONSIVE STUFF */
@media screen and (max-width: 992px) {
  #nav-link {
    font-size: large !important;
    margin: 0 5% !important;
  }
}
